{% extends 'base.html' %}

{% block title %}Detalhes do Boi{% endblock %}

{% block content %}

<div class="detail-card">
    <h1>Detalhes do Boi: {{ object.brinco }}</h1>
    <p><strong>Fornecedor:</strong> {{ object.fornecedor.nome_fornecedor }}</p>
    <p><strong>Raça:</strong> {{ object.raca.tipo_raca }}</p>
    <p><strong>Sexo:</strong> {{ object.sexo.tipo_sexo }}</p>
    <p><strong>Peso na Entrada:</strong> {{ object.peso_entrada }} kg</p>
    {% if object.peso_saida %}
    <p><strong>Peso na Saída:</strong> {{ object.peso_saida }} kg</p>
    {% endif %}
    <p><strong>Data de Nascimento:</strong> {{ object.data_nascimento }}</p>
    <p><strong>Data de Entrada:</strong> {{ object.data_entrada }}</p>
    {% if object.data_saida %}
    <p><strong>Data de Saída:</strong> {{ object.data_saida }}</p>
    {% endif %}
    <p><strong>Status:</strong> {{ object.status_boi.tipo_status }}</p>
    <p><strong>Lote:</strong> {{ object.lote.nome }}</p>
    <div class="buttons-container">
        <a href="{% url 'atualizaboi' pk=object.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'deletaboi' pk=object.pk %}" class="btn btn-secondary">Excluir</a>
        <a href="{{ request.META.HTTP_REFERER|default:'#' }}" class="btn btn-danger">Voltar</a>
    </div>
</div>
{% endblock %}
